<h1>Alphabetized Customers</h1>
<table>
  <%= render partial: "table_head" %>
  <tbody>
    <% @customers.each do |customer| %>
      <%= render partial: "customer", locals: { customer: customer } %>
    <% end %>
  </tbody>
</table>
