<h1>Alphabetized Customers</h1>
<nav>
    <%= link_to 'All Customers', root_path %> |
    <%= link_to 'Customers with Missing Email', missing_email_customers_path %>
</nav>
<table>
  <%= render partial: "table_head" %>
  <tbody>
    <% @customers.each do |customer| %>
      <%= render partial: "customer", locals: { customer: customer } %>
    <% end %>
  </tbody>
</table>
